<h1>Todo Widget</h1>

<div class="row d-flex justify-content-center container">
  <div class="col-md-8">
    <div class="card-hover-shadow-2x mb-3 card">
      <div class="card-header-tab card-header">
        <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i class="fa fa-tasks"></i>&nbsp;Todo Widget</div>
      </div>
      <div class="scroll-area-sm">
        <div class="ps-show-limits">
          <div style="position: static;" class="ps ps--active-y">
            <div class="ps-content">


              <!-- item-->
              <ul class=" list-group list-group-flush">
                <app-todo-list-ui
                  [todoList]="todoList$ | async"
                  (delete)="onDelete($event)"
                  (toggle)="onToggle($event)"
                  (edit)="onEdit($event)"
                ></app-todo-list-ui>
              </ul>
              <!-- item-->


            </div>
          </div>
        </div>
      </div>
      <div></div>


<!-- Компонент создания задачи-->
      <app-todo-create-form-ui (create)="onCreate($event)"></app-todo-create-form-ui>
<!-- Компонент создания задачи-->


    </div>
  </div>
</div>
